
  <!-- Search Pane -->
  <div class="search_pane">
      <div class="search_area">
          <div class="container">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Products, Professional and more...">
              <i class="fa fa-close search_close"></i>
          </div>
          <div class="container">
              <div class="search_results">
                  <ul>
                      <li>
                          <img src="img/mosaic.jpg" alt="" class="col-md-1">
                          <div class="result_detail col-md-11">
                              <h3><a ui-sref="product">Ariel Imperial Design Lead-Free 1-Hole Faucet With Pullout Sprayer</a></h3>
                              <div class="tags">
                                  <a href="#">Living Room</a>
                                  <a href="#">Tiles</a>
                              </div>
                          </div>
                      </li>
                      <li>
                          <img src="img/mosaic.jpg" alt="" class="col-md-1">
                          <div class="result_detail col-md-11">
                              <h3><a ui-sref="product">Ariel Imperial Design Lead-Free 1-Hole Faucet With Pullout Sprayer</a></h3>
                              <div class="tags">
                                  <a href="#">Living Room</a>
                                  <a href="#">Tiles</a>
                              </div>
                          </div>
                      </li>
                      <li>
                          <img src="img/mosaic.jpg" alt="" class="col-md-1">
                          <div class="result_detail col-md-11">
                              <h3><a ui-sref="product">Ariel Imperial Design Lead-Free 1-Hole Faucet With Pullout Sprayer</a></h3>
                              <div class="tags">
                                  <a href="#">Living Room</a>
                                  <a href="#">Tiles</a>
                              </div>
                          </div>
                      </li>
                  </ul>

                  <div class="loadmore">
                      Load More Results
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Search Pane End-->
